.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.controls {
		display: flex;
		align-items: center;

		.control {
			padding: 5px;
			border: 2px solid black;
			margin: 5px;
			cursor: pointer;
		}
	}

	.profile-slider {
		font-size: 12px;
		white-space: nowrap;
		cursor: ew-resize;
		position: relative;
		margin-bottom: 25px;
		margin-top: 60px;
		border-bottom: 1px solid black;

		.slider-position {
			position: absolute;
			background-color: black;
			width: 1px;
			top: -50px;
			bottom: 0;

			.slider-value {
				position: absolute;
				left: 5px;
			}
		}

		.km-point {
			position: absolute;
			width: 1px;
			height: 20px;
			background-color: black;

			.km-label {
				position: absolute;
				bottom: 0;
				left: 5px;
			}
		}

		.y-axis {
			position: absolute;
			width: 1px;
			top: 0;
			bottom: 0;
			background-color: black;

			.y-point {
				position: absolute;

				.y-line {
					position: absolute;
					height: 1px;
					width: 10px;
					background-color: black;
					right: 0;
				}

				.y-label {
					position: absolute;
					right: 14px;
					top: -8px;
				}
			}
		}
	}
}